:root{
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: 'Poppins', sans-serif;  
}
p{
  font-size: 1.2rem;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #2F303A;  
}
/* NAVBAR */
/* .Logomenu{
  padding: 2rem 0rem 2rem 0rem;
  display: grid;  
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "logo navbar";
  font-size: 1.5rem;
  position: absolute;  
  width: 100vw;
  background-color: #202027;
}
.logo{
  grid-area: logo;
  display: flex;
  margin-left: -10rem;
  justify-content: center;
  align-items: center; 
  gap: 1rem;
  color: antiquewhite;   
}

.navbar{
  grid-area: navbar;
  display: flex;  
  justify-content: center;
  align-items: center; 
  gap: 1rem;  
}
.Logomenu nav a{
  text-decoration: none;
  outline: none;
  color: antiquewhite;
  
} */
/* END NAVBAR */

/* HERO */
/* .App::before {
  content: "";
  position: absolute;
  top: 25em;
  left: 25rem;
  width: 300px;
  height: 300px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #bc3a801a;
} */
/* .App::after {
  content: "";
  position: absolute;
  top: 8rem;
  left: 45rem;
  width: 300px;
  height: 300px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #3457b21a;
} */

/* .hero{
  padding-top: 7rem;
  display: grid;   
  grid-template-columns: 1.8fr 1.2fr;
  grid-template-areas: "banner cta";
  font-size: 1.5rem;
  color: antiquewhite;
  width: 100vw;
  height: 100vh;
} */
/* .banner{
  grid-area: banner;
  display: flex;  
  justify-content: center;
  align-items: flex-end;    
  
} */
/* .girl{
  width: 40%;
  height: 80%;
  padding-left: 4rem; 
  
} */
/* .cta{
  grid-area: cta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;    
  height: 100%;
} */
/* .button-cta{
  width: 7rem;
  padding: 1rem 1rem 1rem 1rem;
  color: antiquewhite;
  background-color: #2796ff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
} */
/* .button-cta a{
  outline: none;
  text-decoration: none;
  color: antiquewhite;
} */

/* END HERO */

/* DESCRIPTION */

/* .description-main{
  height: 100vh;  
  width: 95vw;
} */
/* .description{
  padding-top: 7rem;
  display: grid;   
  grid-template-columns: 1.6fr 1.2fr;
  grid-template-areas: "section album";
  font-size: 1.5rem;
  color: antiquewhite;
  width: 100vw;
  height: 89vh;    
  justify-content: center;
  
} */
/* .section-main{
  grid-area: section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;  
  gap: 2rem;  
  
} */
/* .album-img{
  width: 54%;
  height: 60%;  
} */

/* .album{
  grid-area: album;
  display: flex;  
  justify-content: center;
  align-items: center;  
  margin-right: 8rem;  
  
} */
/* END DESCRIPTION */

/* FORM */
/* .contact{
  padding-top: 5rem;
  display: grid;   
  grid-template-columns: 1.4fr 1.6fr;
  grid-template-areas: "join form";  
  color: antiquewhite;
  width: 99vw;
  height: 89vh;  
} */
/* .join{
  grid-area: join;  
  display: flex;
  justify-content: right;
  align-items: center;    
  gap: 1rem; 
  font-size: 4rem;
  font-weight: 800;     
} */
/* .join-color{
  color: #AE457E;
} */
/* .form{
  grid-area: form;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  
}
.form-container{
  background-color: #202027;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-content: center; 
  gap: 1.2rem; 
}
.form-container .input{
  width: 100%;
  height: 2rem;
  background-color: #202027;
  border-color: wheat;
  color: antiquewhite;
  border-radius: 0.3rem;
  padding: 1rem 1rem 1rem 1rem;
} */
/* .button-cta2{
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
  color: antiquewhite;
  background-color: #2796ff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
} */
/* END FORM */


/* FOOTER */
/* .footer{
  padding: 2rem 0rem 1.5rem 0rem;
  position: absolute;
  display: grid;   
  grid-template-columns: 1.6fr 1.4fr;
  grid-template-areas: "menufooter social";  
  color: antiquewhite;
  width: 100vw;  
  background-color: #202027;
  
}
.menu-footer{
  grid-area: menufooter;
  display: flex;
  justify-content: center;  
  gap: 2rem;

}
.socialLinks{
  grid-area: social;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.twitter,.facebook{
  display: flex;
  gap: 1rem;
} */
/* END FOOOTER */

