:root{
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: 'Poppins', sans-serif;  
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #2F303A;  
}
/* NAVBAR */
.Logomenu{
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: grid;  
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "logo navbar";
  font-size: 1.5rem;
  position: fixed;  
  width: 99vw;
}
.logo{
  grid-area: logo;
  display: flex;
  margin-left: -10rem;
  justify-content: center;
  align-items: center; 
  gap: 1rem;
  color: antiquewhite;   
}
/* img{
  filter: brightness(200%);
} */
.navbar{
  grid-area: navbar;
  display: flex;  
  justify-content: center;
  align-items: center; 
  gap: 1rem;  
}
.Logomenu nav a{
  text-decoration: none;
  outline: none;
  color: antiquewhite;
  
}
/* END NAVBAR */

/* HERO */
/* .App::before {
  content: "";
  position: absolute;
  top: 25em;
  left: 25rem;
  width: 300px;
  height: 300px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #bc3a801a;
} */
/* .App::after {
  content: "";
  position: absolute;
  top: 8rem;
  left: 45rem;
  width: 300px;
  height: 300px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #3457b21a;
} */

.hero{
  margin-top: 6rem;
  display: grid;   
  grid-template-columns: 1.8fr 1.2fr;
  grid-template-areas: "banner cta";
  font-size: 1.5rem;
  color: antiquewhite;
}
.banner{
  grid-area: banner;
  display: flex;
  justify-content: center;
  align-items: center;  
  
}
.girl{
  width: 45%;
  height: 100%;
  
}
.cta{
  grid-area: cta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;  
  
}
.button-cta{
  width: 7rem;
  padding: 1rem 1rem 1rem 1rem;
  color: antiquewhite;
  background-color: #2796ff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.button-cta a{
  outline: none;
  text-decoration: none;
}

/* END HERO */

/* DESCRIPTION */
.description{
  margin-top: 1rem;
  display: grid;   
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "section album";
  font-size: 1.5rem;
  color: antiquewhite;
  width: 99vw;
  height: 85vh;
}
.section{
  grid-area: section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20rem;  
  gap: 2rem;  
  
}
.album-img{
  width: 60%;
  height: 50%;
  
}
.album{
  grid-area: album;
  display: flex;  
  justify-content: left;
  align-items: center;  
  
}
/* END DESCRIPTION */

/* FORM */
.contact{
  margin-top: 1rem;
  display: grid;   
  grid-template-columns: 1.8fr 1.2fr;
  grid-template-areas: "join form";
  font-size: 1.5rem;
  color: antiquewhite;
  width: 99vw;
  height: 85vh;
  
}
.join{
  grid-area: join;  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20rem;   
  gap: 1rem;
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 0.4rem; 
}
.join-color{
  color: #AE457E;
}
.form{
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;   
   
  
}
.form-container{
  background-color: #202027;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;  
  gap: 2rem; 
}
.form-container .input{
  width: 100%;
  height: 2rem;
  background-color: #202027;
  border-color: wheat;
  color: antiquewhite;
  border-radius: 0.3rem;
  padding: 1rem 1rem 1rem 1rem;
}
.button-cta2{
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
  color: antiquewhite;
  background-color: #2796ff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}
/* END FORM */


/* FOOTER */
.footer{
  margin-top: 1rem;
  display: grid;   
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "menufooter social";
  font-size: 1.5rem;
  color: antiquewhite;
  width: 99vw;
  height: 10vh;
  background-color: #202027;
}
.menu-footer{
  grid-area: menufooter;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}
.socialLinks{
  grid-area: social;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.twitter,.facebook{
  display: flex;
  gap: 1rem;
}
/* END FOOOTER */

